.topbanner {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: rgb(238, 235, 235) solid 0.1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -5rem;
  background-color: white;

        @media (max-width: 48em) {
          flex-direction: rows;
          padding: 0.5rem;
        }

        @media (max-width: 26.75em) {
          flex-direction: column;
        }


  &__content {
    display: inline-block;
    color: #e47b58;
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    // margin: 0rem 3rem;

      @media (max-width: 64em) {
        font-size: 2rem;
        padding: 1rem;
      }
      @media (max-width: 48em) {
        width: 50%;
        text-align: center;
        font-size: 1.6rem;
      }

      @media (max-width: 37.5em) {
        font-size: 1.8rem;
      }

      @media (max-width: 26.75em) {
        width: 100%;
        padding: .5rem;
        // font-size: 2rem;;
      }
  }
}

.banner-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 84%;
  margin: 1rem auto;

  @media (max-width: 64em) {
    width: 95%;
  }

      @media (max-width: 26.75em) {
        flex-direction: column;
        flex-flow: wrap;
        width: 95%;
      }
}

.banner {
  width: 50%;
  position: relative;
  @media (max-width: 26.75em) {
    width: 100%;
  }
}

.llll,
.llllmm {
  width: 24%;
  position: relative;
  @media (max-width: 26.75em) {
    width: 50%;
  }
}
.llllmm {
  @media (max-width: 26.75em) {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
  }
}

.banner-2-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  @media (max-width: 48em) {
    width: 100%;
  }
}
.banner-2 {
  position: relative;
  width: 85%;
  // border-radius: 0.4rem;

  @media (max-width: 56.25em) {
   width: 99%;
  }
}
